
body{

	background-color:rgba(189,192,186,0.2);
	font-family: 'Ubuntu', sans-serif;
	font-family: 'cwTeXHei', sans-serif;
}

footer{
	background-color: hsl(150,50%,63%); 
}

.black_a {
	color:black;
}

.white_a {
	color:white;
}

.writing{
	/*文章頁中的排版樣式*/
	font-family: 'cwTeXHei', serif; 
	border-right-style:solid;
	text-align: left;
	border-width:1px;
	border-color: #e0e0e0;
}

.banner { 
	font-family: 'cwTeXHei', serif;
	text-align:center;
	overflow-x: hidden;
    overflow-y:auto;
	padding-top: 0px;
}

.banner img {
	/*首頁大圖片樣式*/
	-webkit-filter:brightness(.4); /*亮度*/
}

.mark_sign{
	/*標題顏色標示條*/
	border-bottom-style:solid;
	width: 200px;
	text-align: left;
	border-width:7px;
}

.article{
	/*文章目錄頁中顯示的文章樣式*/
	background-color: white ;
	border-radius: 10px ;
	padding:20px ; 
}

.bg_green {
		background-attachment: scroll
		background-image: url("https://i.imgur.com/Wi5cRqd.png")
		background-position: top center
		background-repeat: repeat-x
		background-size: contain
	}




