<footer> 
        <div class="container" style="font-family: 'cwTeXHei',sans-serif;">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              </br>
            </div>
            <div class="col-12 col-md-2">
               <ul type="none">
                  <li><a href="https://www.instagram.com/ssyc28/" class="black_a" target="_blank"><img src="https://i.imgur.com/4XEJ31e.png" title="source: imgur.com" width="50px"></a>
                  </li>
                  <li><a href="https://www.instagram.com/ssyc28/" class="white_a" target="_blank">instagram</a></li>
                  <li>想追蹤我們?</li></ul>
             </div>
             <div class="col-12 col-md-2">
               <ul type="none">
                  <li><a href="https://www.facebook.com/SongShanYouthClub/" class="black_a" target="_blank"><img src="https://i.imgur.com/4f02cR5.png" title="source: imgur.com" width="50px"></a>
                  </li>
                  <li><a href="https://www.facebook.com/SongShanYouthClub/" class="white_a" target="_blank">facebook</a></li>
                  <li>想關注我們?</li></ul>
             </div>
             <div class="col-12 col-md-2">
               <ul type="none">
                  <li><a href="https://www.google.com.tw/maps/place/%E8%87%BA%E5%8C%97%E5%B8%82%E7%AB%8B%E6%9D%BE%E5%B1%B1%E9%AB%98%E7%B4%9A%E4%B8%AD%E5%AD%B8/@25.0435287,121.5633827,17z/data=!3m1!4b1!4m5!3m4!1s0x3442abbe907547b3:0x64b4ccfeebdeb1df!8m2!3d25.0435287!4d121.5655714" class="black_a" target="_blank"><img src="https://i.imgur.com/dmgS52t.png" title="source: imgur.com" width="50px"></a>
                  </li>
                  <li><a href="https://www.google.com.tw/maps/place/%E8%87%BA%E5%8C%97%E5%B8%82%E7%AB%8B%E6%9D%BE%E5%B1%B1%E9%AB%98%E7%B4%9A%E4%B8%AD%E5%AD%B8/@25.0435287,121.5633827,17z/data=!3m1!4b1!4m5!3m4!1s0x3442abbe907547b3:0x64b4ccfeebdeb1df!8m2!3d25.0435287!4d121.5655714" class="white_a" target="_blank">address</a></li>
                  <li>我們在哪?</li></ul>
             </div>
             <div class="justify-content-first">
                  <span>此網頁由<a href="http://www.sssh.tp.edu.tw/releaseRedirect.do?unitID=183&pageID=3037" class="white_a">松山高中</a>青年社開發</br>聯絡信箱:songshanyouthclub@gmail.com</span>
             </div>
          </div>
        </div>
      </footer>