
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-start" style="font-family: 'cwTeXHei',sans-serif;">
      <a class="navbar-brand" href="#">崧。青</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link .col-md-6" href="https://ssshyouthclub.github.io/">首頁</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link .col-md-6" href="https://ssshyouthclub.github.io/content/magazine/index.html">校刊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link .col-md-6" href="https://ssshyouthclub.github.io/content/aboutUs.html">關於我們</a>
          </li>
            <li class="nav-item dropdown">
              <a class="active nav-link dropdown-toggle white_a .col-md-6" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">所有文章<span class="sr-only">(current)</span>
              </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" href="https://ssshyouthclub.github.io/content/activity/index.html">活動</a>
                 <a class="dropdown-item" href="https://ssshyouthclub.github.io/comming_soon.html">松山</a>
                 <a class="dropdown-item" href="https://ssshyouthclub.github.io/comming_soon.html">文學</a>
                 <a class="dropdown-item" href="https://ssshyouthclub.github.io/comming_soon.html">音樂</a>
                 <a class="dropdown-item" href="https://ssshyouthclub.github.io/content/award/index.html">松韻</a>
               </div>
            </li> 
        </ul>
      </div>
    </nav>